.container
    .jumbotron
        h1 EmployeeHub
        p Welcome to EmployeeHub! A new way to manage your empolyees

    .row
        .col-md-12
            div(ng-include="'/partials/main/employees'")